<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertNotice">
    INSERT INTO NOTICE
    VALUES (SEQ_NOTICE_NO.NEXTVAL, ?, ?, DEFAULT, ?, DEFAULT, ?,?)
	</entry>
	
	<entry key="insertAttachment">
    INSERT INTO ATTACHMENT
    (FILE_NO, REF_NNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, ATTACH_STATUS, FILE_LEVEL)
    VALUES (SEQ_FNO.NEXTVAL, SEQ_NOTICE_NO.CURRVAL, ?, ?, ?, DEFAULT, DEFAULT, '')
	</entry>


	
	<entry key="selectList">
		SELECT *
		FROM NOTICE
		JOIN ADMIN USING (ADMIN_NO)
		ORDER BY NOTICE_NO DESC
	</entry>
	
	<entry key="selectNotice">
		SELECT 
			NOTICE_NO,
			NOTICE_TITLE,
			NOTICE_CONTENT,
			ADMIN_NO,
			N. CREATE_DATE,
			FILE_NO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH
		FROM NOTICE N
		JOIN ADMIN USING (ADMIN_NO)
		LEFT JOIN ATTACHMENT A ON (NOTICE_NO = REF_NNO AND A.ATTACH_STATUS ='Y')
		WHERE NOTICE_NO = ?
		
			
	</entry>
	
</properties>
